<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/syntax-highlight.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../stylesheets/page.css" media="screen">
  </head>
  <body>

    <section class="page-header">
      <div class="link"><a href="../">{{ page.project }} </a> > <a href="./">{{ page.title }}</a></div>
      <h1 class="page-name">{{ page.title }}</h1>
      <div>更新: {{ page.date | date: "%Y年%m月%d日" }}</div>
      <div>翻訳: sakkuru</div>

    </section>

    <section class="main-content">

{{ content }}

		</section>

  
  </body>
</html>

